.main_project {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 2rem;
}
.left_project {
    flex: 1;
    text-align: center;
}
.right_project {
    flex: 1;
}

.projects {
    background-color: #DAE7EF;
    font-family: 'Montserrat', sans-serif;
    padding: 7rem 5vw;
}
.ongoing {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.proj_head {
    font-size: 3rem;
    font-weight: 600;
}
.proj_card {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}
.proj_card>a {
    text-decoration: none;
    color: black;
}
.card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 15vw;
    min-height: 3vw;
}
.card>p {
    font-size: 2rem;
    text-align: center;
}
.card:hover {
    background-color: #008CBA;
}
.proj_card>a:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    font-weight: 600;
    color: white;
}
.mini {
    flex-direction: row-reverse;
}

@media(max-width: 75em) {
    .main_project {
        flex-direction: column;
    }
}
@media(max-width: 57em) {
    .ongoing {
        flex-direction: column;
    }
}