@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');
.navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    font-family: 'Twinkle Star', cursive;
}

.logo{
    margin: 1.2rem;
}

.not-mobile {
    display: flex;
    gap: 2rem;
}

.mobile-toggle {
    display: none;
}

.nav-item {
    display: inline-block;
    text-decoration: none;
    font-size: 2.5rem;
    position: relative;
    color: black;
    margin-inline-end: 1.5em;
}
.nav-item:hover {
    font-size: 2.8rem;
    color: #6834d4;
    font-weight: 600;
}
.nav-item:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #6834d4;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.nav-item:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media(max-width: 50em) {
    .mobile {
        display: flex;
        gap: 2rem;
        position: fixed;
        inset: 0 0 0 40%;
        background: #af93d7;
        flex-direction: column;
        padding: min(10rem, 10vh) 3rem;
    }
    .not-mobile {
        display: none;
    }
    .mobile-toggle {
        display: block;
        position: absolute;
        width: 3rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
        border: 0;
        font-size: 2.5rem;
        background-color: transparent;
        transition: all 0.5s ease;
    }
}